.detail-container {
    position: relative;
    min-height: calc(100vh-250px);
    overflow-x: hidden;
    display: block;
    top: 70px;
    padding: 0 calc(3.5vw + 5px);
    color: aliceblue;
}

.detail-gackground {
    left: 0px;
    opacity: 0.8;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: -1;
}

.detail-gackground img {
    width: 100vw;
    height: 100vh;
}

@media (max-width:768px) {
    .detail-gackground img {
        width: initial;

    }
}

.detail-imagetitle {
    align-items: flex-end;
    display: flex;
    -webkit-box-pack: start;
    justify-tracks: center;
    margin: 0px auto;
    height: 30vw;
    min-height: 170px;
    padding-bottom: 24px;
    width: 100%;
}

.detail-imagetitle img {
    max-width: 600px;
    min-width: 100px;
    width: 35vw;
}

.detail-contentmeta {
    max-width: 874px;

}

.detail-controls {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    margin: 24px 0px;
    min-height: 56px;
}

.detail-player {
    font: size 15px;
    margin: 0px 22px 0px 0px;
    padding: 0px 24px;
    height: 56px;
    border-radius: 4px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.8px;
    text-align: center;
    text-transform: uppercase;
    background: rgb(249, 249, 249);
    border: none;
    color: rgb(0, 0, 9);
}

.detail-player:hover {
    background: rgb(198, 198, 198);
}

@media (max-width:768px) {
    .detail-player {
        height: 45px;
        padding: 0px 12px;
        font-size: 12px;
        margin: 0px 10px 0px 0px;
    }
}

.detail-player img {
    width: 25px;
}

.detail-trailer {
    font: size 15px;
    margin: 0px 22px 0px 0px;
    padding: 0px 24px;
    height: 56px;
    border-radius: 4px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.8px;
    text-align: center;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(249, 249, 249);
    color: rgb(249, 249, 249);
}

.detail-addlist {
    margin-right: 16px;
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;

    span {
        background-color: rgb(249, 249, 249);
        display: inline-block;
    }
}

.detail-addlist i {
    font-size: 25px;
    color: white;
}

.detail-groupwatch {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: white;
}

.detail-groupwatch div {
    height: 40px;
    width: 40px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
}

.detail-groupwatch img {
    width: 100%;
}

.detail-subtitle {
    color: rgb(249, 249, 249);
    font-size: 15px;
    min-height: 20px;
}

.detail-description {
    line-height: 1.4;
    font-size: 20px;
    padding: 16px 0px;
    color: rgb(249, 249, 249);
}

@media (max-width: 768px) {
    .detail-subtitle {
        font-size: 12px;
    }

    .detail-description {
        font-size: 14px;
    }
}