.carousel-container {
    margin-top: 20px;
}

.carousel-container>button {
    opacity: 0;
    height: 100%;
    width: 5vw;
    z-index: 1;
}

.carousel-container>button:hover {
    opacity: 1;
    transition: opacity 0.2s ease 0s;
}

.carousel-container ul li button::before {
    font-size: 10px;
    color: rgb(150, 158, 171);
}

.carousel-container li.slick-active button:before {
    color: white;
}

.carousel-container .slick-list {
    overflow: initial;
}

.carousel-container .slick-prev {
    left: -75px;
}

.carousel-container .slick-next {
    right: -75px;
}